.autocomplete {
  z-index: 10;
  transition: left 0.5s;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  transition-property: -webkit-transform, transform, visibility, opacity;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.autocomplete-input {
  width: 240px;
  padding: 8px 8px 8px 8px;
  font-family: system-ui;
  font-size: 13px !important;
  background-color: white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.autocomplete-input:hover {
  border-bottom: 0.1px solid #3f51b5;
}

.MuiInput-underline-51:hover:not(.MuiInput-disabled-50):not(.MuiInput-focused-49):not(.MuiInput-error-52):before {
  border-bottom: 2px solid #303f9f;
  transition: none;
}

.autocomplete-dropdown {
  position: relative;
  top: 39px;
  left: 43px;
  width: 220px;
  overflow: hidden;
  white-space: nowrap;
  font-family: system-ui;
  font-size: medium;
  background-color: white;
}

.autocomplete-suggestion {
  padding: 3px 8px 3px 8px;
  cursor: pointer;
  font-size: 13px;
}

.autocomplete-suggestion-active {
  padding: 3px 8px 3px 8px;
  cursor: pointer;
  font-size: 13px;
  background-color: #f6f6f6;
}

.search-icon {
  position: absolute;
  color: rgba(0, 0, 0, 0.54);
  right: 40px;
  top: 10px;
  cursor: pointer;
}
