.request-link {
  min-width: 100px;
  font-size: 11px;
  margin: 16px 0px;
  word-wrap: break-word;
  padding: 10px;
}

.paper-conditions {
  margin: 10px 0px 0px 0px;
  background-color: #f0f0f0 !important;
  border-radius: 4px;
}

.overview {
  padding: 10px 0px 0px 10px;
}

.icon-clear {
  float: right;
  cursor: pointer;
  margin: 2px;
}

.copy-input {
  padding: 10px;
  border: none;
  display: inline;
  font-family: inherit;
  font-size: 12px;
  padding: none;
  background-color: #f0f0f0;
}

.copy-button {
  padding: 10px !important;
  margin: 10px !important;
}

.request-button-wrapper {
  display: grid;
}

.overview-spinner {
  padding: 10px;
  text-align: center;
}

.bubble-name {
  padding: 10px 0px 0px 10px;
  font-size: 15px;
}
