.paper-payout {
  height: 50px;
  padding: 2px 10px 15px 10px;
}

.paper-calendar {
  margin-top: 10px;
}

.centerPaperWrapper {
  padding: 10px;
}

.slider-label {
  font-size: 10px;
}

.slider-value {
  text-align: center;
  padding-top: 10px;
  font-size: 0.9375rem;
  color: rgba(0, 0, 0, 0.54);
}

.time-wrapper {
  margin: 0 auto -18px;
}

.date-wrapper {
  margin: 0px 0px -18px -18px;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item {
  height: 15px;
}

.react-datepicker__header--time {
  display: none;
}
