.hello-page {
  background-color: #31466a;
  color: white;
  width: 100vw;
  height: 100vh;
}

.hello-page-center {
  max-width: 495px;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hello-page-title {
  font-size: 50px;
}

.hello-page-by {
  text-align: right;
}

.hello-page-content {
  margin-top: 30px;
}

.hello-page-button {
  text-align: center;
}

.hello-page-link {
  color: white;
}

.hello-page-link:hover {
  color: #ff851b;
}
