.main-screen {
  height: 100vh;
  width: 100vw;
}

.map {
  height: 100vh;
  width: 100vw;
}

.sidebar {
  width: 275px;
  margin-left: -137px;
  z-index: 9;
  position: fixed;
  top: 10%;
  left: 50%;
  margin-top: -20px;
  height: auto;
}

.sidebar-paper {
  background-color: #f0f0f0 !important;
}

.sidebar-button {
  margin: 10px !important;
}

.sidebar-button-wrapper {
  display: grid;
}

.main-menu {
  position: absolute;
  z-index: 9999;
  display: grid;
  padding: 9px;
  border-radius: 0px !important;
  cursor: pointer;
  z-index: 9;
  height: 24.5px;
}

.location-input {
  position: absolute;
  z-index: 99;
}
