.table-row {
  font-size: 12px;
  padding: 10px;
  margin: 5px 10px 0px 10px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.table-paper {
  border-radius: 4px;
  margin: 10px 0px 0px 40px;
  padding: 0px 0px 10px 0px;
  background-color: #f0f0f0 !important;
}

.quotes {
  padding: 10px 0px 0px 10px;
}

.dialog-scl {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
}

.dialog-link {
  word-break: break-all;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.54);
  font-style: italic;
}

.nonce {
  display: -webkit-box;
}

.dialog-nonce {
  display: contents;
  word-break: break-all;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.54);
  font-style: italic;
  margin: 8px;
}

@media only screen and (max-width: 400px) {
  .dialog-nonce {
    width: 150px;
  }
}

.dialog-button-link {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  font-size: 10px;
  font-style: italic;
  text-decoration: underline;
  display: contents;
}
